<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="~{base::layout(~{::section})} ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        
           <div class="row">
             <div class="col-md-6 offset-md-3">
                <div class="container mt-5 p-5">
                    <div class="text-center">
                        <i class="fa-solid fa-circle-check text-success fa-5x"></i>
</div>
                    <h1 class=" text-center text-success" >Ordered successful!</h1>
                <p class="fs-5 text-center">Product will be deliveried within 7 days</p>
                <div class="text-center">
                    <a href="/" class="btn btn-primary ">Back</a>
                    <a href="/" class="btn btn-primary ms-5">Your Order</a>

                </div>
            </div>
           </div>
        </div>
    </section>
</body>
</html>