<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})} ">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="card card-sh text-center">
                        <div class="card-header">
                            <p class="fs-4 fw-bold">View Products</p>
                            <th:block>
                                <p th:if="${session.successMsg}" class="text-success fw-bold">[[${session.successMsg}]]
                                </p>
                                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                            </th:block>
                            <th:block>
                                <p th:if="${session.errorMsg}" class="text-danger fw-bold">[[${session.errorMsg}]]</p>
                                <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                            </th:block>
                            <form action="/admin/products" method="get">
                                <div class="d-flex ">
                                    <div class="pe-2"><button class="btn btn-primary " type="submit">Search</button>
                                    </div>
                                    <div><input type="text" name="ch" class="form-control" style="width: 350px;"> </div>

                                </div>
                            </form>
                        </div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">No.</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Discount</th>
                                        <th scope="col">DiscountPrice</th>
                                        <th scope="col">Stock</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:Each="p,c:${products}">
                                        <th scope="row">[[${c.count}]]</th>
                                        <td>[[${p.title}]]</td>
                                        <td><img th:src="@{'/img/products_img/' + ${p.image}}" alt="" width="60px"
                                                height="60px"></td>
                                        <td>[[${p.category}]]</td>
                                        <td>[[${p.price}]]</td>
                                        <td>[[${p.discount}]]</td>
                                        <td>[[${p.discountPrice}]]</td>

                                        <td>[[${p.stock}]]</td>
                                        <td>
                                            <p th:if="${p.isActive == false}" class="text-warning fw-bold">Inactive</p>
                                            <p th:if="${p.isActive == true}" class="text-success fw-bold">Active</p>
                                        </td>
                                        <td>
                                            <a th:href="@{'/admin/loadEditProduct/'+ ${p.id}}"
                                                class="btn btn-primary btn-sm"><i
                                                    class="fa-solid fa-pen-to-square text-warning"></i>Edit</a>
                                            <a th:href="@{'/admin/products/'+ ${p.id}}"
                                                class="btn btn-primary btn-sm"><i
                                                    class="fa-solid fa-trash text-danger"></i>Delete</a>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row mt-2 ">
                            <div class="col-md-4 ">
                                <p class="fw-bold">Total Products:[[${totalProducts}]]</p>
                            </div>
                            <th:block th:if="${products.size() > 0 && totalPages > 1}">
                                <div class="col-md-8">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination ">
                                            <li class="page-item" th:classappend=" ${isFirst}? 'disabled' : '' "><a
                                                    class="page-link"
                                                    th:href="@{'/admin/products?pageNo=' + ${pageNo - 1} + '&ch=' + ${ch}}">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a></li>

                                            <li class="page-item" th:each="i : ${#numbers.sequence(1,totalPages-1)}"
                                                th:classappend="${pageNo == i}?'active':''"><a class="page-link"
                                                    th:href="@{'/admin/products?pageNo=' + ${i} + '&ch=' + ${ch}}">[[${i}]]</a></li>


                                            <li class="page-item" th:classappend="${isLast}? 'disabled':''"><a
                                                    class="page-link"
                                                    th:href="@{'/admin/products?pageNo=' + ${pageNo + 1} + '&ch=' + ${ch}}"><span
                                                        aria-hidden="true">&raquo;</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </th:block>
                        </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>