<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
th:replace="~{base::layout(~{::section})} ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
<div class="container mt-5 p-5">
            <div class="row">
            <div class="col md-6 p-5">
                <img src="img/register.jpg" alt="" width="100%" height="400px">
            </div>
            <div class="col md-6 mt-1 p-5">
                <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-header">
                        <p class="fs-4 text-center">Register</p>
                        <th:block th:if="${session.successMsg}">
                            <p class="text-success fw-bold text-center">[[${session.successMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>

                        <th:block th:if="${session.errorMsg}">
                            <p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
                            <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
                        </th:block>
                    </div>
                    <div class="card-body">
                        <form action="/saveUser" method="post" enctype="multipart/form-data" id="userRegister" novalidate>
                            <div class="row">
                                <div class="col ">
                                    <label class="form-label">Fullname</label>
                                    <input class="form-control" name="fullName" type="text" required  />
                                </div>
                                <div class="col " >
                                    <label class="form-label">Mobile Number</label>
                                    <input class="form-control" name="phoneNumber" type="number" required />
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Email</label>
                                <input class="form-control" name="email" type="email" required />
                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class="form-label">Address</label>
                                    <input class="form-control" name="address" type="text" required />
                                </div>
                                <div class="col" >
                                    <label class="form-label">City</label>
                                    <input class="form-control" name="city" type="text" required />
                                </div>
                            </div>
                             <div class="row">
                                <div class="col">
                                    <label class="form-label">State</label>
                                    <input class="form-control" name="state" type="text" required />
                                </div>
                                <div class="col" >
                                    <label class="form-label">Pincode</label>
                                    <input class="form-control" name="pinCode" type="number" required />
                                </div>
                            </div>
                             <div class="row">
                                <div class="col">
                                    <label class="form-label">Password</label>
                                    <input class="form-control" name="password" type="password" id="password" required />
                                </div>
                                <div class="col" >
                                    <label class="form-label">Confirm Password</label>
                                    <input class="form-control" name="confirmpw" type="password" required />
                                </div>
                            </div>
                            <div class="col" >
                                    <label class="form-label">Profile Image</label>
                                    <input class="form-control" name="img" type="file"  />
                                </div>
                            
                            <button type="submit" class="btn bg-primary text-white col-md-12">Register</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                         Have an account?<a href="/signin" class="text-decoration-none"> Login</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>   
</body>
</html>